.name
{
    height: 50px;
    color: royalblue;
    text-align: center;
    font-size: xx-large;
    font-style: inherit;
}
.main_menu
{
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: royalblue;


}
.main_menu a
{
    text-decoration: none;

    color: white;
    font-size: x-large;
    font-style: inherit;
    padding-left: 20px;
}
