.name
{
    height: 50px;
    color: steelblue;
    text-align: center;
    font-size: xx-large;
    font-style: inherit;
}
.main_menu
{
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: steelblue;


}
.main_menu a
{
    text-decoration: none;

    color: white;
    font-size: x-large;
    font-style: inherit;
    padding-left: 20px;
}
.reg_form
{
    margin-left: 40%;
    width: 310px;
    padding: 10px;


}
.reg_form input
{
    width: 300px;
    height: 30px;
    margin:10px;
    border-width: medium;
    border-color: steelblue;
    border-radius: 5px;
    float: left;
}
.cab_menu
{
    width: 20%;
    float: left;
}
.cab_menu_punkt
{

    border: 2px solid steelblue;
    border-radius: 4px;

    padding: 1%;
    margin:1%;

}
.cab_menu_punkt a
{
    text-decoration: none;
}
td img
{
    width: 50px;
}
